.fs {
    &-xxsm {
        font-size: 1.1rem;
    }
    &-xsm {
        font-size: 1.2em;
    }
    &-sm {
        font-size: 1.3rem;
    }
    &-md {
        font-size: 1.4rem;
    }
    &-lg {
        font-size: 1.8rem;
    }
    &-xlg {
        font-size: 2.2rem;
    }
    &-xxlg {
        font-size: 2.4rem;
    }
}

.fw {
    &-thin {
        font-weight: 100;
    }
    &-bold {
        font-weight: 600;
    }
}

@mixin ellipse($w:100%, $space: nowrap) {
    width: $w;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: $space;
}

.ellipse {
    @include ellipse(100%);
}

.ellipse-line {
    @include ellipse(20rem, normal);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.4rem;
    height: 2.8rem;
}

// svg
@font-face {
    font-family: 'icomoon';
    src: url('/assets/fonts/icomoon.eot?31svmk');
    src: url('/assets/fonts/icomoon.eot?31svmk#iefix') format('embedded-opentype'), url('/assets/fonts/icomoon.ttf?31svmk') format('truetype'), url('/assets/fonts/icomoon.woff?31svmk') format('woff'), url('/assets/fonts/icomoon.svg?31svmk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    position: absolute;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: {
        weight: 400;
        size: 1.4rem;
    }
    line-height: 1;
}

.icon {
    &-adventurer:before {
        content: "\e900";
    }
    &-blood-test:before {
        content: "\e901";
    }
    &-blood:before {
        content: "\e902";
    }
    &-chain:before {
        content: "\e903";
    }
    &-check:before {
        content: "\e904";
    }
    &-class-reward:before {
        content: "\e905";
    }
    &-company:before {
        content: "\e906";
    }
    &-diet:before {
        content: "\e907";
    }
    &-doctor:before {
        content: "\e908";
    }
    &-ecosystem:before {
        content: "\e909";
    }
    &-exercise:before {
        content: "\e90a";
    }
    &-facebook:before {
        content: "\e90b";
    }
    &-folder:before {
        content: "\e90c";
    }
    &-gadget:before {
        content: "\e90d";
    }
    &-gadget1:before {
        content: "\e90e";
    }
    &-group:before {
        content: "\e90f";
    }
    &-herbal-1:before {
        content: "\e910";
    }
    &-herbal-2:before {
        content: "\e911";
    }
    &-instagram:before {
        content: "\e912";
    }
    &-laboratory-microscope:before {
        content: "\e913";
    }
    &-linkedin:before {
        content: "\e914";
    }
    &-medical-history-1:before {
        content: "\e915";
    }
    &-medical-history-2:before {
        content: "\e916";
    }
    &-medicines:before {
        content: "\e917";
    }
    &-medium:before {
        content: "\e918";
    }
    &-more:before {
        content: "\e919";
    }
    &-patient:before {
        content: "\e91a";
    }
    &-pharmacy:before {
        content: "\e91b";
    }
    &-racing:before {
        content: "\e91c";
    }
    &-save-money:before {
        content: "\e91d";
    }
    &-science-report:before {
        content: "\e91e";
    }
    &-select:before {
        content: "\e91f";
    }
    &-statistics:before {
        content: "\e920";
    }
    &-telegram:before {
        content: "\e921";
    }
    &-training:before {
        content: "\e922";
    }
    &-twitter:before {
        content: "\e923";
    }
    &-world:before {
        content: "\e924";
    }
    &-youtube:before {
        content: "\e925";
    }
}

@media (min-width: 992px) {
    .icon {
        &-telegram {
            font-size: 3rem !important;
        }
    }
}